@import "tailwindcss";
@plugin "daisyui" {
  themes: retro --default, synthwave --prefersdark;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.cally ::part(day):hover:not(:is(selected, today)) {
    background: var(--color-secondary) !important;
    color: var(--color-secondary-content) !important;
  }
 .cally ::part(selected) {
    color: var(--color-base-content) !important;
    background: var(--color-base-300) !important;
  }
   .cally ::part(button day today) {
    background: var(--color-primary) !important;
    color: var(--color-primary-content) !important;
  }